.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 20vh;
  color: rgb(0, 0, 0);
}

.user-table th, .user-table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


.user-table tr:hover {
  background-color: #d8db8e;
}

.btn-success {
  background-color: green;
  color: white;
}

.btn-success:hover {
  background-color: rgb(211, 54, 19);
  color: white;
}

.btn-danger {
  background-color: rgb(211, 17, 17);
  color: white;
}

.btn-danger:hover {
  background-color: rgb(19, 211, 48);
  color: white;
}